@mixin bgc($bgcolor) {
  background-color: $bgcolor;
}

@mixin font($fontsize, $fontfamily) {
  font-size: $fontsize;
  font-family: $fontfamily;
}

@mixin width($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin minWidth($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin toWidth($minwidth, $maxwidth) {
  @media (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

@mixin cssPathContent() {
  margin-top: $heightHeader;
  .banner {
    background: url('../img/bgc-lienhe-banner.png') no-repeat;
    background-size: 100% 100%;
    height: 255px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: $colorWrite;
    display: flex;
    align-items: center;

    .wrapper {
      margin: auto;

      h1 {
        text-align: center;
        @include font(33px, 'poppinsbold');
        margin-bottom: 17px;
      }

      .path {
        font-size: 14px;

        span {
          position: relative;
          padding: 0 13px;
          &:not(:first-child)::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            @include width(1px, 100%);
            @include bgc($colorBorderLine);
          }
        }
      }

      @include maxWidth(568px) {
        h1 {
          font-size: 20px;
        }

        .path {
          span {
            padding: 0 5px;
          }
        }
      }
    }
  }
}

@mixin cssBtn() {
  .btn {
    text-align: center;
    line-height: 36px;
    border-radius: $borderRadius;
    @include font(14px, 'poppinsbold');
    @include width(170px, 36px);
    @include bgc($colorBtn2);
    cursor: pointer;

    .icon-right {
      margin-left: 12px;
    }
  }
}

@mixin cssNavbar() {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-bottom: 51px;
    border-bottom: 1px solid $colorBorderBottomHeader;

    li {
      width: 124px;
      a {
        text-align: center;
      }

      &.active {
        position: relative;

        a {
          color: $colorHover;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -33px;
          left: 0;
          display: block;
          @include width(100%, 20px);
          background: url('../img/active-border.png') no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
}

@mixin cssList() {
  .list-item {
    ul {
      display: grid;
      grid-template-columns: auto auto auto;
      row-gap: 32px;
      column-gap: 36px;

      li {
        @include bgc($bgcFooter);

        .title {
          padding: 23px 25px 16px;
        }
      }
    }

    @include maxWidth(1200px) {
      margin: 0 15px;

      ul {
        gap: 15px;
      }
    }

    @include maxWidth(768px) {
      ul {
        grid-template-columns: auto auto;
      }
    }

    @include maxWidth(568px) {
      ul {
        grid-template-columns: auto;
      }
    }

    @include cssBtn();

    .btn {
      margin: 36px auto 60px;
      color: $colorWrite;
    }
  }
}

@mixin cssVideo() {
  .video {
    display: grid;
    grid-template-columns: calc(60% - 16px) 40%;
    gap: 16px;

    .video-main {
      iframe {
        @include width(100%);
      }
    }

    .video-lists {
      li {
        a {
          display: grid;
          grid-template-columns: 212px calc(100% - 212px - 22px);
          gap: 22px;

          .img {
            @include width(auto, 120px);
          }

          .title {
            font-size: 15px;
          }

          @include maxWidth(578px) {
            grid-template-columns: 160px calc(100% - 160px - 12px);
            gap: 12px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    @include maxWidth(992px) {
      grid-template-columns: auto;
      gap: 0;

      .video-main {
        min-height: 387px;
        margin-bottom: 16px;
      }
    }
  }
}

@mixin cssItemBlockLside() {
  padding: 37px 20px 35px 20px;
  @include font(15px, 'poppins');

  .title {
    @include font(17px, 'poppinsbold');
    margin-bottom: 18px;
    height: 42px;
    overflow-y: hidden;
  }

  .desc {
    margin-bottom: 30px;
    height: 40px;
    overflow-y: hidden;
  }

  .show-details a {
    color: $colorBorder;
  }
}

@mixin cssInfo() {
  color: $colorWrite;

  .name {
    @include font(33.24px, 'poppinsbold');
  }

  .title {
    margin-top: 20px;
    font-size: 28.32px;
    color: $colorBorder;
  }

  .desc {
    margin-top: 43px;
    font-size: 16px;
    max-width: 368px;
  }

  .social {
    margin-top: 121px;

    .social-block {
      display: flex;

      .item {
        margin: 20px 10px 0 0;
        @include width(37px);
      }
    }
  }
}

@mixin cssMaxim() {
  position: absolute;
  left: -230px;
  bottom: 0;
  @include width(295px);
  @include bgc($colorMaxim);
  color: $colorWrite;
  border-radius: $borderRadiusCircle;
  padding: 38px 45px 0;

  .icon {
    margin: 0 auto 22px;
    @include width(67px, 50px);
  }

  .text {
    @include font(19px, 'Times New Roman');
  }

  @include maxWidth(992px) {
    display: none;
  }
}

@mixin cssBgcShareMe() {
  background: url('../img/bg-share-me.png');
  background-size: 100% 100%;
  padding: 46px 15px;
}

@mixin cssShareMe() {
  @include cssBgcShareMe();
  position: relative;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    gap: 20px;
    color: $colorWrite;
    @include maxWidth(992px) {
      grid-template-columns: auto;
    }

    .block-avt {
      @include width(496px);
      position: relative;
      margin: 0 auto;

      .avt {
        width: 308px;
        position: absolute;
        right: 0;
        top: -5px;
      }

      .text {
        position: absolute;
        top: 33px;
        left: 37px;
        width: 175px;

        .icon-maxim {
          @include width(69px);
          margin-bottom: 25px;
        }

        .desc {
          @include font(20px, 'poppinsbold');
          padding-bottom: 20px;
          padding-left: 5px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 29px;
            height: 2px;
            @include bgc($colorBorder);
            @include maxWidth(992px) {
              width: 60px;
            }
          }
        }

        .info {
          margin-top: 17px;
          padding-left: 5px;

          .name {
            @include font(17.12px, 'poppinsbold');
            color: $colorBorder;
          }

          .title {
            margin-top: 8px;
            @include font(14.58px, 'poppins');
          }
        }
      }

      @include maxWidth(578px) {
        @include width(300px);

        .avt {
          width: 187px;
        }

        .text {
          left: 0;
          width: 140px;
          padding: 5px 0 0 15px;

          .icon-maxim {
            @include width(40px);
            margin-bottom: 10px;
          }

          .desc {
            @include font(13px, 'poppinsbold');
            padding-bottom: 10px;

            &::after {
              margin-left: 5px;
            }
          }

          .info {
            margin-top: 10px;

            .name {
              @include font(13px, 'poppinsbold');
            }

            .title {
              margin-top: 4px;
              @include font(9px, 'poppins');
            }
          }
        }
      }
    }

    .share-content {
      h3 {
        @include font(29px, 'poppinsbold');
        margin-bottom: 39px;
        @include maxWidth(568px) {
          font-size: 24px;
        }
      }
      .item {
        display: grid;
        grid-template-columns: 81px auto;

        .icon {
          @include width(59px);
        }

        .title {
          @include font(22px, 'poppinsbold');
          color: $colorBorder;
          margin-bottom: 11px;
        }

        .desc p:first-child {
          margin-bottom: 22px;
        }

        &:not(:first-child) {
          margin-top: 34px;
        }
      }
    }
  }
}

@mixin cssH1() {
  @include font(29.18px, 'poppinsbold');
  text-transform: uppercase;
  @include maxWidth(568px) {
    font-size: 24px;
  }
}

@mixin cssH2() {
  @include font(48px, 'shelia');
  font-weight: 300;
  color: $colorBtn2;
  padding-bottom: 10px;

  @include maxWidth(568px) {
    font-size: 25px;
  }
}

@mixin cssAvatCeo() {
  margin-top: 67px;
  position: relative;

  .avt-img {
    @include width(494px);
    border-radius: $borderRadiusCircle;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(225, 225, 225, 0.9);

    @include maxWidth(578px) {
      @include width(290px);
    }

    img {
      object-fit: none;
      width: auto;
      height: auto;
      transform: translateX(-20%);

      @include maxWidth(578px) {
        @include width(100%);
        transform: translateX(0);
        object-fit: cover;
      }
    }
  }

  .maxim {
    @include cssMaxim();
  }
}
