@mixin bgc($bgcolor) {
  background-color: $bgcolor;
}

@mixin font($fontsize, $fontfamily) {
  font-size: $fontsize;
  font-family: $fontfamily;
}

@mixin width($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin minWidth($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin toWidth($minwidth, $maxwidth) {
  @media (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

@mixin cssPathContent() {
  margin-top: $heightHeader;
  .banner {
    background: url('../img/bgc-lienhe-banner.png') no-repeat;
    background-size: 100% 100%;
    height: 255px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: $colorWrite;
    display: flex;
    align-items: center;

    .wrapper {
      margin: auto;

      h1 {
        text-align: center;
        @include font(33px, 'poppinsbold');
        margin-bottom: 17px;
      }

      .path {
        font-size: 14px;

        span {
          position: relative;
          padding: 0 13px;
          &:not(:first-child)::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            @include width(1px, 100%);
            @include bgc($colorBorderLine);
          }
        }
      }

      @include maxWidth(568px) {
        h1 {
          font-size: 20px;
        }

        .path {
          span {
            padding: 0 5px;
          }
        }
      }
    }
  }
}

@mixin cssBtn() {
  .btn {
    text-align: center;
    line-height: 36px;
    border-radius: $borderRadius;
    @include font(14px, 'poppinsbold');
    @include width(170px, 36px);
    @include bgc($colorBtn2);
    cursor: pointer;

    .icon-right {
      margin-left: 12px;
    }
  }
}

@mixin cssNavbar() {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    margin-bottom: 51px;
    border-bottom: 1px solid $colorBorderBottomHeader;

    li {
      width: 124px;
      a {
        text-align: center;
      }

      &.active {
        position: relative;

        a {
          color: $colorHover;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: -33px;
          left: 0;
          display: block;
          @include width(100%, 20px);
          background: url('../img/active-border.png') no-repeat;
          background-size: 100% 100%;
        }
      }
    }
  }
}

@mixin cssList() {
  .list-item {
    ul {
      display: grid;
      grid-template-columns: auto auto auto;
      row-gap: 32px;
      column-gap: 36px;

      li {
        @include bgc($bgcFooter);

        .title {
          padding: 23px 25px 16px;
        }
      }
    }

    @include maxWidth(1200px) {
      margin: 0 15px;

      ul {
        gap: 15px;
      }
    }

    @include maxWidth(768px) {
      ul {
        grid-template-columns: auto auto;
      }
    }

    @include maxWidth(568px) {
      ul {
        grid-template-columns: auto;
      }
    }

    @include cssBtn();

    .btn {
      margin: 36px auto 60px;
      color: $colorWrite;
    }
  }
}

@mixin cssVideo() {
  .video {
    display: grid;
    grid-template-columns: calc(60% - 16px) 40%;
    gap: 16px;

    .video-main {
      iframe {
        @include width(100%);
      }
    }

    .video-lists {
      li {
        a {
          display: grid;
          grid-template-columns: 212px calc(100% - 212px - 22px);
          gap: 22px;

          .img {
            @include width(auto, 120px);
          }

          .title {
            font-size: 15px;
          }

          @include maxWidth(578px) {
            grid-template-columns: 160px calc(100% - 160px - 12px);
            gap: 12px;
          }
        }

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }

    @include maxWidth(992px) {
      grid-template-columns: auto;
      gap: 0;

      .video-main {
        min-height: 387px;
        margin-bottom: 16px;
      }
    }
  }
}

@mixin cssItemBlockLside() {
  padding: 37px 20px 35px 20px;
  @include font(15px, 'poppins');

  .title {
    @include font(17px, 'poppinsbold');
    margin-bottom: 18px;
    height: 42px;
    overflow-y: hidden;
  }

  .desc {
    margin-bottom: 30px;
    height: 40px;
    overflow-y: hidden;
  }

  .show-details a {
    color: $colorBorder;
  }
}
