@mixin bgc($bgcolor) {
  background-color: $bgcolor;
}

@mixin font($fontsize, $fontfamily) {
  font-size: $fontsize;
  font-family: $fontfamily;
}

@mixin width($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin maxWidth($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin minWidth($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin toWidth($minwidth, $maxwidth) {
  @media (min-width: $minwidth) and (max-width: $maxwidth) {
    @content;
  }
}

@mixin cssPathContent() {
  margin-top: $heightHeader;
  .banner {
    background: url('../img/bgc-lienhe-banner.png') no-repeat;
    background-size: 100% 100%;
    height: 255px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: $colorWrite;
    display: flex;
    align-items: center;

    .wrapper {
      margin: auto;

      h1 {
        text-align: center;
        @include font(33px, 'poppinsbold');
        margin-bottom: 17px;
      }

      .path {
        font-size: 14px;

        span {
          position: relative;
          padding: 0 13px;
          &:not(:first-child)::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            @include width(1px, 100%);
            @include bgc($colorBorderLine);
          }
        }
      }
    }
  }
}

@mixin cssBtn() {
  .btn {
    text-align: center;
    line-height: 36px;
    border-radius: $borderRadius;
    @include font(14px, 'poppinsbold');
    @include width(170px, 36px);
    @include bgc($colorBtn2);
    cursor: pointer;

    .icon-right {
      margin-left: 12px;
    }
  }
}
