$bgcMain: #071840;
$colorText: #333;
$colorWrite: #fff;
$colorBorder: #f7cb44;
$colorBorderLine: #b2b2b2;
$colorBorderBottomHeader: #063e7f;
$colorHover: #f7ca44;
$colorMaxim: #bf912de1;

$heightHeader: 91px;
$borderRadiusCircle: 50%;
$borderRadius: 5px;
