@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/SVN-POPPINS-BOLD.TTF');
}
@font-face {
  font-family: 'poppins';
  src: url('../fonts/SVN-POPPINS-REGULAR.TTF');
}
@font-face {
  font-family: 'poppinslight';
  src: url('../fonts/SVN-POPPINS-LIGHT.TTF');
}
@font-face {
  font-family: 'shelia';
  src: url('../fonts/shelia-vnf-regular.ttf');
}

@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $colorWrite;
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

img {
  @include width(100%);
}

.container {
  max-width: 1179px;
  margin: 0 auto;
}

html {
  font-family: 'poppins';
}

body {
  background-image: url('../img/bg-main.png');
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: $heightHeader;
  color: $colorWrite;
  font-size: 16px;
  @include bgc($bgcHeader);
  transition: all 0.5s linear;

  .menu-mobile {
    @include minWidth(992px) {
      display: none;
    }
    @include maxWidth(992px) {
      margin: 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $heightHeader;

      .icon-menu {
        font-size: 35px;
      }

      .logo {
        height: 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
      }
    }
  }

  .wrapper {
    height: $heightHeader;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $colorBorderBottomHeader;
    position: relative;

    @include toWidth(992px, 1200px) {
      padding: 0 15px;
    }

    .logo-1 {
      height: 30px;
      @include maxWidth(992px) {
        display: none;
      }
    }

    .logo-2 {
      display: none;
    }

    ul {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      margin-right: calc(49px - 39px);

      & > li {
        margin-right: 37px;
        position: relative;
        @include minWidth(992px) {
          &:hover > a {
            color: $colorHover;
          }
        }

        a {
          font-weight: 500;
          @include minWidth(992px) {
            .icon-down {
              display: none;
            }
          }
          @include maxWidth(992px) {
            .icon-down {
              float: right;
              position: relative;

              &::after {
                content: '';
                position: absolute;
                top: -5px;
                right: -5px;
                @include width(40px, 30px);
              }
            }
          }
        }

        @include minWidth(992px) {
          ul {
            position: absolute;
            top: 54px;
            left: 0;
            min-width: 207px;
            display: flex;
            flex-direction: column;
            @include bgc($bgcMain);
            border-top: 3px solid $colorBorder;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-10%);
            transition: all 0.3s linear;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            &::before {
              content: '';
              position: absolute;
              top: -43px;
              left: 0;
              background-color: transparent;
              width: 207px;
              height: 45px;
            }

            li {
              @include width(100%, 37px);
              padding-left: 25px;
              font-size: 15px;
              line-height: 37px;

              &:not(:first-child) {
                border-top: 1px solid $colorBorderLine;
              }
            }
          }

          &:hover {
            ul {
              opacity: 1;
              transform: translateY(0);
              pointer-events: all;
            }
          }
        }

        @include maxWidth(992px) {
          ul {
            display: none;
          }
        }

        @include maxWidth(1080px) {
          margin-right: 20px;
        }
      }
    }

    .number {
      display: flex;
      align-items: center;
      border: 1px solid $colorBorder;
      color: $colorWrite;
      border-radius: 20px;
      height: 37px;
      padding: 0 26px 0 22px;

      .icon {
        margin-right: 11px;
      }
    }

    @include maxWidth(992px) {
      position: fixed;
      height: 100%;
      width: 40%;
      top: 0;
      left: 0;
      bottom: 0;
      flex-direction: column;
      align-items: flex-start;
      background-color: $colorWrite;
      z-index: 10;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translateX(-101%);
      transition: all 0.5s linear;

      &.active {
        transform: translateX(0);
      }

      ul {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        & > li {
          padding: 10px 15px;
          margin-right: 0;

          a {
            color: $bgcMain;
          }

          &:not(:first-child) {
            border-top: 1px solid $colorBorderLine;
          }

          li {
            padding-left: 10px;
          }
        }
      }

      .number {
        margin: 15px auto;
        color: $bgcMain;
        border-color: $colorBorder;
      }
    }

    @include maxWidth(576px) {
      width: 70%;
    }
  }

  .icon-exit {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: $bgcMain;
    @include bgc($colorWrite);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s linear;
    z-index: 1;

    @include minWidth(992px) {
      display: none;
    }

    &.active {
      opacity: 1;
      pointer-events: all;
    }
  }

  &.active {
    @include bgc($colorWrite);
    color: $bgcMain;
    .logo-1 {
      display: none;
    }
    .logo-2 {
      display: block;
    }

    .wrapper ul {
      & > li {
        & > a {
          color: $bgcMain;
          font-weight: 800;
        }

        &:hover {
          & > a {
            color: $colorHover;
          }
        }

        ul {
          @include bgc($colorWrite);
          li:hover {
            a {
              color: $colorHover;
            }
          }
        }
      }
    }

    .number {
      font-weight: 800;
      color: $bgcMain;
    }
  }
}

//! nội dung trang index.html

.content {
  margin-top: $heightHeader;

  .banner {
    background: url('../img/bgc-banner1.png') no-repeat;
    background-size: 100% 100%;
    @include width(100%, 697px);
    @include maxWidth(992px) {
      @include width(100%);
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @include maxWidth(1179px) {
        margin: 0 15px;
      }

      .info {
        @include cssInfo();
      }

      .avt {
        @include cssAvatCeo();
      }

      @include maxWidth(992px) {
        flex-direction: column-reverse;

        .info {
          margin-top: 30px;
          text-align: center;

          .name {
            font-size: 28px;
          }

          .title {
            margin-top: 10px;
            font-size: 22px;
          }

          .desc {
            margin-top: 20px;
            font-size: 14px;
          }

          .social {
            margin-top: 60px;

            .social-block {
              justify-content: center;
            }
          }
        }
      }
    }
  }

  .info-author {
    margin: 52px 0;
    .title {
      color: $colorWrite;
      @include font(29.18px, 'poppinsbold');
      text-align: center;
      margin-bottom: 54px;

      @include maxWidth(992px) {
        font-size: 24px;
      }

      @include maxWidth(578px) {
        font-size: 16px;
      }
    }

    .wrapper {
      display: flex;
      color: $colorWrite;
      @include maxWidth(992px) {
        margin: 0 15px;
      }

      @include toWidth(992px, 1200px) {
        margin: 0 15px;
      }

      .info-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(#13255d, #091333);
        border-radius: $borderRadius;
        padding: 40px 30px;
        height: 323px;

        &:not(:last-child) {
          margin-right: 33px;
        }

        .logo {
          @include width(57px);

          img {
            color: red;
          }
        }

        .title {
          @include font(20px, 'poppinsbold');
          margin-top: 34px;
        }

        .desc {
          font-size: 15px;
          font-family: 'poppins';
          margin-top: 14px;
          height: 80px;
          overflow: hidden;
        }

        .show-details a {
          font-size: 15px;
          font-family: 'poppins';
          color: $colorHover;
        }

        @include maxWidth(992px) {
          .block {
            display: grid;
            grid-template-columns: 20% calc(80% - 30px);
            gap: 30px;

            .logo {
              margin: 30px auto;
            }
          }
        }
      }

      @include maxWidth(992px) {
        margin: 0 15px;
        flex-direction: column;

        .info-item {
          &:not(:first-child) {
            margin-top: 15px;
          }

          &:not(:last-child) {
            margin-right: 0;
          }

          .title {
            margin-top: 20px;
          }
          .show-details {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .share-me {
    @include cssShareMe();
  }

  .blog {
    color: $colorWrite;
    padding: 27px 0 50px;

    .wrapper {
      margin: 0 15px;
      @include minWidth(1200px) {
        margin: 0;
      }

      & > .title {
        text-align: center;
        margin-bottom: 42px;
        h2 {
          @include font(29px, 'poppinsbold');
          margin-bottom: 21px;
        }

        .text {
          @include font(16px, 'poppins');
        }
      }

      .slider {
        height: 424px;

        @include maxWidth(600px) {
          height: auto;
        }

        .item {
          width: 370px;
          margin: 0 17px;
          overflow: hidden;
          @include bgc($colorItemSlide);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          .img {
            @include width(100%, 207px);
          }
          .item-block {
            @include cssItemBlockLside();
          }
        }

        .slick-dots {
          bottom: -48px;

          li {
            button {
              @include width(8px);
              padding: 0;
              background-color: $bgcMain;
              border: 2px solid $colorBorder;
              border-radius: $borderRadiusCircle;

              &::before {
                color: transparent;
              }
            }

            &.slick-active {
              button::before {
                @include width(8px);
                @include bgc($colorBorder);
                border-radius: $borderRadiusCircle;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .media {
    padding: 54px 15px 75px;
    color: $colorWrite;
    @include bgc($bgcMedia);
    .wrapper {
      & > .title {
        display: flex;
        align-items: center;
        padding-bottom: 36px;

        h2 {
          @include font(29.18px, 'poppinsbold');
        }

        .icon-next {
          display: flex;
          position: relative;
          width: 33px;
          margin: 0 28px 0 24px;
          .icon1 {
            @include width(22px, 23px);
          }

          .icon2 {
            position: absolute;
            left: 15px;
            opacity: 0.7;
            @include width(18px, 23px);
          }
        }

        .text {
          @include font(20px, 'poppinsbold');
          margin-right: 39px;

          &.active {
            color: $colorBorder;
          }
        }

        @include maxWidth(578px) {
          h2 {
            font-size: 20px;
          }

          .icon-next {
            margin: 0 20px;
            .icon1 {
              @include width(16px, 17px);
            }

            .icon2 {
              @include width(14px, 17px);
            }
          }

          .text {
            font-size: 16px;
            margin-right: 20px;
          }

          .text:last-child {
            margin-right: 0;
          }
        }
      }

      @include cssVideo();
    }
  }

  .news-intro {
    background: url('../img/bgc-new-intro.png') no-repeat;
    background-size: 100% 100%;

    .news {
      height: 630px;
      color: $colorWrite;
      clear: both;

      h2 {
        @include font(29.18px, 'poppinsbold');
        margin: 64px 0 46px;
        text-align: center;
      }

      .main {
        display: flex;
        flex-direction: column;

        .slider-nav {
          width: 550px;
          margin: 0 auto;
          position: relative;

          .slick-prev,
          .slick-next {
            @include width(30px);
          }

          .slick-prev {
            left: -30px;
          }

          .slick-next {
            right: -30px;
          }

          .slick-prev:before,
          .slick-next:before {
            color: $colorBtn2;
          }

          .slick-slide {
            .item {
              height: 76px;
              margin: 0 6px;
              @include bgc($colorWrite);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: $borderRadius;

              img {
                @include width(103px, 28px);
              }
            }

            &.slick-current.slick-active.slick-center {
              .item {
                border: 2px solid $colorBorder;
              }
            }
          }

          @include maxWidth(768px) {
            width: 320px;
          }

          @include maxWidth(568px) {
            width: 220px;
          }
        }

        .slider-for {
          height: 100%;
          padding: 0 70px;

          @include maxWidth(992px) {
            padding: 0 15px;
          }

          .item {
            position: relative;
            display: grid;
            grid-template-columns: calc(50% - 57px) 50%;
            gap: 57px;
            @include width(100%, 100%);
            padding: 57px 47px 61px 36px;
            margin-top: 22px;
            @include bgc($colorWrite);
            color: $colorText;
            border-radius: $borderRadius;

            .intro {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              h3 {
                @include font(19px, 'poppinsbold');
                margin-bottom: 22px;
              }

              p {
                font-size: 15px;
                flex: 1;
              }

              .btn-show-news {
                max-width: 144px;
                padding: 11px 13px 13px 17px;
                border-radius: $borderRadius;
                @include bgc($colorBtn2);
                color: $colorWrite;
                cursor: pointer;
                @include font(15px, 'poppinsbold');
                opacity: 1;
                transition: opacity 0.5s linear;

                &:hover {
                  opacity: 0.7;
                }
              }
            }

            &::before {
              content: '';
              position: absolute;
              top: -12px;
              left: 50%;
              transform: translateX(-50%);
              width: 29px;
              height: 13px;
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
              @include bgc($colorWrite);
            }

            @include maxWidth(992px) {
              grid-template-columns: calc(60% - 30px) 40%;
              gap: 30px;

              .intro {
                h3 {
                  margin-bottom: 10px;
                }
                p {
                  margin-bottom: 10px;
                }
              }
            }

            @include maxWidth(768px) {
              grid-template-columns: 100%;
              gap: 0;
              padding: 20px;

              .intro {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }

    .intro {
      .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin: 0 15px;
        color: $colorWrite;
        padding: 71px 0;
        @include maxWidth(768px) {
          margin-top: 190px;
        }

        @include maxWidth(668px) {
          margin-top: 150px;
        }

        @include maxWidth(500px) {
          margin-top: 100px;
        }

        .img {
          @include width(330px);
          margin: auto;

          @include maxWidth(850px) {
            @include width(230px);
          }
        }

        .intro-text {
          margin: auto;

          .block {
            .text {
              font-size: 19px;
              margin-bottom: 8px;
            }

            h1 {
              text-transform: uppercase;
              @include font(29.18px, 'poppinsbold');
              margin-bottom: 28px;
            }

            p {
              font-size: 15px;
              margin-bottom: 42px;
            }

            .btn {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              @include font(15px, 'poppinsbold');

              .btn-item {
                height: $heightBtn;
                line-height: $heightBtn;
                padding: 0 23px 0 21px;
                border-radius: $borderRadius;
                transition: opacity 0.5s linear;
                opacity: 1;
                cursor: pointer;

                &.show-details {
                  @include bgc($colorWrite);
                  color: $colorBtn;
                  margin-right: 10px;

                  &:hover {
                    opacity: 0.7;
                  }
                }

                &.participate {
                  @include bgc($colorBtn2);
                  color: $colorWrite;

                  &:hover {
                    opacity: 0.7;
                  }
                }
              }

              @include maxWidth(400px) {
                display: block;
                .btn-item {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .icon {
                    margin-left: 10px;
                  }

                  &.show-details {
                    margin-right: 0;
                    margin-bottom: 15px;
                  }
                }
              }
            }
          }
        }

        @include maxWidth(768px) {
          grid-template-columns: auto;
          .img {
            display: none;
          }
        }
      }
    }
  }
}

//! nội dung trang liên hệ
.content-contact {
  @include cssPathContent();

  .contact {
    color: $colorWrite;
    background: url('../img/bgc-contact.png') no-repeat;
    background-size: 100% 100%;

    .wrapper {
      display: grid;
      grid-template-columns: 55.56% 44.44%;

      .info {
        flex: 1;
        .block {
          margin-top: 120px;
          display: flex;
          justify-content: space-between;

          .name {
            h3 {
              @include font(27px, 'poppinsbold');
              margin-bottom: 7px;
            }
            p {
              font-size: 23px;
              color: $colorBorder;
              margin-bottom: 30px;
            }
          }
          .social {
            .social-block {
              display: flex;
              font-size: 15px;
              margin-top: 12px;

              .item {
                @include width(37px);
                margin-right: 11px;
              }
            }
          }
        }

        .address {
          .item {
            display: flex;
            font-size: 16px;
            margin-bottom: 14px;

            .icon {
              @include width(18px);
              margin-right: 12px;
            }
          }
        }

        .form-contact {
          margin-top: 43px;
          h3 {
            margin-bottom: 22px;
          }

          .input-form {
            display: grid;
            grid-template-columns: auto auto;
            gap: 18px;

            input {
              height: 40px;
              outline: none;
              background: transparent;
              border: 1px solid $colorBorderLine;
              border-radius: $borderRadius;
              color: $colorWrite;
              padding-left: 18px;
              @include font(15px, 'poppins');

              &::placeholder {
                color: $colorWrite;
                @include font(15px, 'poppins');
              }
            }

            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          textarea {
            display: block;
            resize: none;
            outline: none;
            background: transparent;
            @include font(15px, 'poppins');
            @include width(100%, 112px);
            border-radius: $borderRadius;
            color: $colorWrite;
            text-align: left;
            border: 1px solid $colorBorderLine;
            margin-top: 18px;
            padding-left: 18px;
            padding-top: 18px;

            &::placeholder {
              color: $colorWrite;
              @include font(15px, 'poppins');
            }
          }

          button {
            margin-top: 15px;
            color: $colorWrite;
            border: none;
            border-radius: $borderRadius;
            @include font(15px, 'poppinsbold');
            @include bgc($colorBtn2);
            @include width(115px, 36px);

            span {
              margin-left: 18px;
            }
          }
        }
      }

      .avatar {
        padding-top: 51px;
        img {
          @include width(420px, 734px);
          float: right;
        }
      }

      @include maxWidth(992px) {
        margin: 0 15px;
        padding-bottom: 120px;
        grid-template-columns: auto;

        .avatar {
          display: none;
        }
      }

      @include maxWidth(568px) {
        .info {
          .block {
            display: block;
            margin-bottom: 20px;

            .name {
              h3 {
                font-size: 20px;
              }

              p {
                font-size: 18px;
              }
            }
          }
          .form-contact .input-form {
            grid-template-columns: auto;
          }
        }
      }
    }
  }
}

//! nội dung trang sách
.content-book {
  @include cssPathContent();

  .book {
    color: $colorWrite;
    .wrapper {
      display: grid;
      grid-template-columns: 32% calc(68% - 62px);
      gap: 62px;
      padding: 90px 0 110px;

      @include maxWidth(1200px) {
        margin: 0 15px;
      }

      .img {
        @include width(100%, 466px);
      }

      .block {
        @include width(100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          @include font(26px, 'poppinsbold');
          text-transform: uppercase;
          margin-bottom: 16px;
        }

        & > p {
          font-size: 15px;
          .author {
            color: $colorBorder;
          }
          margin-bottom: 32px;
        }

        .desc {
          flex: 1;
          font-size: 15px;
          text-align: justify;
          p {
            &:not(:first-child) {
              margin-top: 32px;
            }
          }
        }

        @include cssBtn();
      }

      @include maxWidth(992px) {
        grid-template-columns: 40% calc(60% - 30px);
        gap: 30px;
      }

      @include maxWidth(768px) {
        grid-template-columns: 100%;

        .img {
          margin: 0 auto;
          @include width(400px);
        }

        .btn {
          margin-top: 20px;
        }
      }

      @include maxWidth(568px) {
        .img {
          margin: 0 auto;
          @include width(290px);
        }
      }
    }
  }
}

//! nội dung trang cộng đồng
.content-community {
  @include cssPathContent();

  @include maxWidth(568px) {
    .banner .wrapper {
      h1 {
        font-size: 20px;
      }

      .path {
        font-size: 12px;

        span {
          padding: 0 5px;
        }
      }
    }
  }

  .community {
    .wrapper {
      display: grid;
      grid-template-columns: calc(44.45% - 75px) 55.55%;
      gap: 75px;
      color: $colorWrite;
      padding: 92px 0 138px;

      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
          text-align: justify;
        }

        @include cssBtn();

        .btn {
          width: 230px;
        }
      }

      @include maxWidth(1200px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include maxWidth(992px) {
        grid-template-columns: auto;
        // background: url('../img/img-map.png') no-repeat;
        // background-position: center;
        // position: relative;
        // z-index: 1;

        // &::after {
        //   content: '';
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   bottom: 0;
        //   right: 0;
        //   @include bgc(#000);
        //   opacity: 0.7;
        //   z-index: 1;
        // }

        .btn {
          margin-top: 20px;
        }

        .img {
          display: none;
        }
      }
    }
  }
}

//! nội dung trang media hình ảnh
.content-media-image {
  @include cssPathContent();

  .media-image {
    @include cssNavbar();
    @include cssList();
  }
}

//! nội dung trang media video
.content-media-video {
  @include cssPathContent();

  .media-video {
    color: $colorWrite;
    @include cssNavbar();

    .video-new {
      h2 {
        @include font(29.18px, 'poppinsbold');
        margin: 0 0 30px;
      }
      @include cssVideo();

      @include maxWidth(1200px) {
        margin: 0 15px;
      }
    }

    @include cssList();
    .list-item {
      h2 {
        @include font(29.18px, 'poppinsbold');
        margin: 58px 0 30px;
      }
    }
  }
}

//! nội dung trang thu ngo cua ceo
.content-letter {
  @include cssPathContent();

  .letter {
    @include cssNavbar();
    color: $colorWrite;
    padding-bottom: 106px;

    .navbar {
      li {
        width: 190px;
      }

      @include maxWidth(768px) {
        overflow-x: auto;
        justify-content: flex-start;

        &::-webkit-scrollbar {
          display: none;
        }
        li {
          min-width: 190px;
        }

        li.active::after {
          display: none;
        }
      }
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      background: url('../img/bgc-thungo.png') no-repeat;
      background-position: right center;

      @include maxWidth(1200px) {
        padding: 0 15px;
      }

      h1 {
        padding: 0 0 26px;
        @include cssH1();
      }

      h2 {
        @include cssH2();
      }

      .desc {
        font-size: 15px;
        padding: 12px 0 62px 0;
        margin-bottom: 20px;
        width: 54%;
        position: relative;
        p {
          text-align: justify;
          margin-bottom: 20px;
        }

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 7px;
          width: 55px;
          height: 2px;
          @include bgc($colorBorderLine);
        }

        @include maxWidth(768px) {
          width: 70%;
        }

        @include maxWidth(568px) {
          width: 100%;
        }
      }

      .author {
        padding-left: 7px;
        .name {
          @include font(17.47px, 'poppinsbold');
          color: $colorBorder;
          margin-bottom: 12px;
        }
        .title {
          font-size: 17px;
        }
      }
    }
  }
}

//! noi dung trang blog giao duc
.content-blog-edu {
  @include cssPathContent();

  .blog-edu {
    @include cssNavbar();
    color: $colorWrite;
    padding-bottom: 106px;

    .navbar {
      li {
        width: auto;
        padding: 0 20px;
      }

      @include maxWidth(768px) {
        overflow-x: auto;
        justify-content: flex-start;

        &::-webkit-scrollbar {
          display: none;
        }
        li {
          min-width: 220px;
        }

        li.active::after {
          display: none;
        }
      }
    }

    .wrapper {
      .slider {
        @include maxWidth(1300px) {
          margin: 0 25px;
        }
        .item {
          margin: 0 18px;
          border-radius: $borderRadius;
          overflow: hidden;
          position: relative;
          border: 1px solid $colorBorderLine;
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .title {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            text-transform: uppercase;
            @include font(17px, 'poppinsbold');
            @include maxWidth(568px) {
              font-size: 14px;
            }
          }
        }
      }

      .list-blog {
        display: flex;
        flex-direction: column;

        h2 {
          margin: 50px 0;
          @include font(33px, 'poppinsbold');
          text-transform: uppercase;
          text-align: center;
          span {
            display: block;
            color: $colorHover;
          }
        }

        ul {
          display: grid;
          grid-template-columns: auto auto auto;
          gap: 34px;
          .item {
            @include bgc($colorItemSlide);
            .item-block {
              @include cssItemBlockLside();
            }
          }

          @include maxWidth(1200px) {
            margin: 0 15px;
          }

          @include maxWidth(992px) {
            grid-template-columns: auto auto;
            gap: 15px;
          }

          @include maxWidth(768px) {
            grid-template-columns: auto;
            gap: 15px;
          }
        }
        @include cssBtn();
        .btn {
          margin: 37px auto 0;
        }
      }
    }
  }
}

//! noi dung trang blog chi tiet
.content-blog-details {
  @include cssPathContent();

  .blog-details {
    @include cssNavbar();
    color: $colorWrite;
    padding-bottom: 106px;

    .navbar {
      li {
        width: auto;
        padding: 0 20px;
      }

      @include maxWidth(768px) {
        overflow-x: auto;
        justify-content: flex-start;

        &::-webkit-scrollbar {
          display: none;
        }
        li {
          min-width: 220px;
        }

        li.active::after {
          display: none;
        }
      }
    }

    .wrapper {
      display: grid;
      grid-template-columns: 68% calc(32% - 52px);
      gap: 52px;

      .block-left {
        .title {
          h3 {
            font-size: 15px;
            color: $colorBtn2;
            text-transform: uppercase;
            margin-bottom: 14px;
          }

          h2 {
            @include font(28px, 'poppinsbold');
            margin-bottom: 26px;
          }

          .action-title {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .icon-clock {
              @include width(18px);
              margin-right: 10px;
            }

            .date {
              margin-right: 28px;
            }

            .social {
              display: flex;
              .icon {
                margin-right: 12px;
                @include width(30px);
              }
            }
          }
        }

        .desc {
          h3 {
            @include font(17px, 'poppinsbold');
            margin-bottom: 20px;
          }

          p {
            font-size: 15px;
            margin-bottom: 20px;
          }

          .image {
            margin-bottom: 20px;
          }
        }

        .other-blog {
          padding-top: 25px;
          margin-top: 54px;
          border-top: 1px solid $colorBorderLine;

          h3 {
            margin-bottom: 25px;
            text-transform: uppercase;
            @include font(21px, 'poppinsbold');
          }

          ul {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 26px;

            li {
              .title {
                margin-top: 17px;
              }
            }
          }
        }
      }

      .block-right {
        h3 {
          @include font(21px, 'poppinsbold');
        }

        ul {
          li {
            margin-bottom: 18px;

            a {
              display: flex;
              font-size: 15px;

              .img {
                margin-right: 17px;
                border-radius: $borderRadius;
                border: 1px solid $colorWrite;
                overflow: hidden;
              }
            }
          }
        }

        .img-sologan img {
          margin-top: 12px;
          border-radius: $borderRadius;
          overflow: hidden;
        }
      }

      @include maxWidth(1200px) {
        margin: 0 15px;
      }

      @include maxWidth(992px) {
        grid-template-columns: auto;
        gap: 0;

        .block-left {
          .other-blog {
            ul {
              grid-template-columns: auto auto;
              gap: 15px;

              @include maxWidth(568px) {
                grid-template-columns: auto;
                gap: 20px;
              }
            }
          }
        }

        .block-right {
          margin-top: 30px;

          h3 {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

//! nội dung trang giới thiệu
.content-introduce {
  @include cssPathContent();

  .introduce-details {
    @include cssNavbar();
    color: $colorWrite;

    .navbar {
      margin: 0;
      li {
        width: auto;
        padding: 0 20px;
      }

      @include maxWidth(768px) {
        overflow-x: auto;
        justify-content: flex-start;

        &::-webkit-scrollbar {
          display: none;
        }
        li {
          min-width: 220px;
        }

        li.active::after {
          display: none;
        }
      }
    }

    .intro {
      position: relative;
      padding-top: 110px;
      background: url('../img/bgc-intro.png') no-repeat;
      background-size: 100%;
      height: 717px;

      .info {
        @include cssInfo();
        .social {
          margin-top: 63px;
        }
      }
      .maxim {
        @include cssMaxim();
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include minWidth(993px) {
        .avt {
          display: none;
        }
      }

      @include maxWidth(1200px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include maxWidth(992px) {
        background: url('../img/bgc-banner1.png') no-repeat;
        background-size: 100%;
        display: flex;
        justify-content: center;
        padding-top: 20px;
        height: auto;
        .avt {
          display: flex;
          @include cssAvatCeo();

          .avt-img {
            margin: 0 auto;
          }
        }

        .info {
          text-align: center;
          padding: 30px;

          @include maxWidth(568px) {
            .name {
              font-size: 24px;
            }

            .title {
              margin-top: 12px;
              font-size: 20px;
            }
          }

          .social {
            .social-block {
              justify-content: center;
            }
          }
        }
      }
    }

    .share-me {
      @include cssShareMe();
      background: linear-gradient(#070d2d, #0a1f43);
      background-size: 100% 100%;
    }

    .heart-letter {
      background: url('../img/bgc-tuotho.png') no-repeat;
      background-size: 100% 100%;
      padding: 60px 0 150px;
      text-align: center;
      h1 {
        @include cssH1();
      }
      h2 {
        @include cssH2();
      }

      .title {
        margin: 22px auto 64px;
        width: 60%;
        font-size: 18px;
      }
      .desc {
        text-align: justify;
        font-size: 15px;
        column-count: 3;
        gap: 60px;
      }

      @include maxWidth(1200px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include maxWidth(768px) {
        .title {
          width: 80%;
        }
        .desc {
          column-count: 2;
          column-gap: 15px;
        }
      }

      @include maxWidth(568px) {
        h1 {
          font-size: 24px;
        }

        h2 {
          font-size: 28px;
        }

        .title {
          width: 100%;
        }
        .desc {
          column-count: 1;
          column-gap: 0;
        }
      }
    }

    .block-1 {
      background: url('../img/bgc-thungo.png') right center no-repeat;
      background-size: 50%;
      padding-bottom: 100px;
      h1 {
        @include cssH1();
      }

      h2 {
        @include cssH2();
      }
      .desc {
        p {
          margin-top: 25px;
          font-size: 15px;
          text-align: justify;
          width: 60%;
        }
      }

      @include maxWidth(1200px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include maxWidth(992px) {
        .desc {
          p {
            width: 100%;
          }
        }
      }

      @include maxWidth(768px) {
        h2 {
          font-size: 25px;
        }
      }

      @include maxWidth(568px) {
        h2 {
          font-size: 20px;
        }
        background: none;
      }
    }

    .block-2 {
      padding: 47px 0 70px;
      background: linear-gradient(#070d2d, #0b2a50, #081334);
      .wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 448px;
        position: relative;

        .text {
          width: 50%;
          text-align: justify;

          h1 {
            @include cssH1();
          }

          h2 {
            @include cssH2();
            text-align: center;
            margin-bottom: 22px;
          }
          .desc {
            p {
              margin-bottom: 28px;
              font-size: 15px;
            }
          }
        }
      }

      @include minWidth(1200px) {
        .img {
          position: absolute;
          top: 0;
          left: -35px;
        }
      }

      @include maxWidth(1200px) {
        padding-left: 15px;
        padding-right: 15px;
      }

      @include maxWidth(992px) {
        .text {
          width: 60%;
        }
      }

      @include maxWidth(768px) {
        .wrapper {
          .img {
            display: none;
          }
          .text {
            width: 100%;

            h2 {
              text-align: left;
            }
          }
        }
      }
    }

    .startup-four-no {
      background: url('../img/bgc-startup.png') no-repeat;
      background-size: 100% 100%;
      padding: 82px 0 0;
      @include maxWidth(1200px) {
        padding-left: 15px;
        padding-right: 15px;
      }
      .startup-block-1 {
        text-align: center;

        h1 {
          @include cssH1();
          margin-bottom: 27px;
        }
        .desc p {
          font-size: 15px;
        }

        .img-border {
          @include width(50%, 3px);
          margin: 50px auto 60px;
        }
        @include maxWidth(568px) {
          text-align: justify;
          h1 {
            font-size: 20px;
          }
          .img-border {
            width: 80%;
          }
        }
      }

      .startup-block-2 {
        display: grid;
        grid-template-columns: 50% calc(50% - 70px);
        gap: 70px;
        height: 800px;

        .text p {
          margin-bottom: 23px;
          text-align: justify;
        }

        .img {
          height: 546px;
        }

        @include maxWidth(992px) {
          display: flex;
          flex-direction: column-reverse;
          height: auto;

          .img {
            height: 80%;
          }
        }
      }

      .startup-block-3 {
        column-count: 2;
        column-gap: 66px;
        padding-bottom: 88px;
        .title {
          margin: 0 5px 44px;
          padding-left: 24px;
          border-left: 6px solid $colorBorder;
          h1 {
            @include cssH1();
            margin-bottom: 12px;
          }

          h2 {
            span {
              display: block;
              color: $colorBorder;
              @include font(26px, 'poppinslight');
              text-transform: uppercase;

              strong {
                @include font(26px, 'poppinsbold');
              }
            }
          }
        }

        .img {
          height: 270px;
          margin-bottom: 36px;
        }

        .desc {
          column-count: 1;
          height: 100%;

          p {
            margin-bottom: 20px;
            text-align: justify;
          }
        }

        @include maxWidth(992px) {
          margin-top: 30px;
          column-gap: 30px;
        }

        @include maxWidth(768px) {
          column-count: 1;

          .title {
            h2 {
              span {
                font-size: 16px;

                strong {
                  font-size: 16px;
                }
              }
            }
          }

          .img {
            height: auto;
          }
        }
      }
    }

    .spotlight {
      position: relative;
      padding-top: 76px;
      background: url('../img/bgc-spotlight.png') no-repeat;
      background-size: 100% 100%;
      .wrapper {
        display: flex;
        justify-content: space-between;

        .block-left {
          width: 48%;
          margin-right: 47px;
          h1 {
            @include cssH1();
            margin-bottom: 45px;
          }

          .desc {
            p {
              font-size: 15px;
              margin-bottom: 30px;
              text-align: justify;
            }
          }
        }

        .img {
          display: block;
        }

        @include maxWidth(1200px) {
          padding-left: 15px;
          padding-right: 15px;
        }

        @include maxWidth(992px) {
          .block-left {
            width: 100%;
            margin-right: 0;
          }

          .img {
            display: none;
          }
        }
      }
    }
  }
}

.footer {
  @include bgc($bgcFooter);

  .wrapper {
    display: grid;
    grid-template-columns: 30% calc(70% - 54px);
    gap: 54px;
    margin: 0 15px;
    color: $colorWrite;
    padding: 65px 0 58px;

    .footer-social {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #2f384f;

      .address-web {
        background: url('../img/bgc-search.png') no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        @include width(260px, 48px);
        padding-bottom: 17px;
        margin-bottom: 18px;

        .icon {
          @include width(18px);
          margin: 0 16px 0 10px;
        }
      }

      .social {
        .text {
          font-size: 15px;
          text-align: center;
          margin-bottom: 15px;
        }
        .social-block {
          display: flex;
          justify-content: center;
          gap: 11px;

          .item {
            @include width(37px);
          }
        }
      }
    }

    .footer-info {
      display: grid;
      grid-template-columns: repeat(4, 25%);

      .item {
        h2 {
          @include font(17px, 'poppinsbold');
          margin-bottom: 20px;
        }

        a {
          font-size: 15px;
          margin-bottom: 12px;
        }
      }
    }

    @include maxWidth(992px) {
      grid-template-columns: auto;
      gap: 0;

      .footer-social {
        border: none;
      }

      .footer-info {
        margin-top: 30px;
        .item {
          padding: 10px;
        }
      }
    }

    @include maxWidth(768px) {
      .footer-info {
        grid-template-columns: auto auto;
        text-align: center;
      }
    }

    @include maxWidth(568px) {
      padding-bottom: 30px;

      .footer-info {
        grid-template-columns: auto;
        text-align: center;
      }
    }
  }
}

.action {
  position: fixed;
  bottom: 230px;
  right: 22px;

  .icon {
    @include width(46px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $borderRadiusCircle;
    @include bgc($colorIconPhone);
    margin-bottom: 8px;

    &.mail {
      @include bgc($colorIconEmail);
    }

    &.up {
      @include bgc($colorIconUp);
    }

    img {
      @include width(auto);
    }
  }

  @include maxWidth(568px) {
    bottom: 100px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s linear;
  @include bgc(rgba(0, 0, 0, 0.5));

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
