@font-face {
  font-family: 'poppinsbold';
  src: url('../fonts/SVN-POPPINS-BOLD.TTF');
}
@font-face {
  font-family: 'poppinslight';
  src: url('../fonts/SVN-POPPINS-LIGHT.TTF');
}
@font-face {
  font-family: 'poppins';
  src: url('../fonts/SVN-POPPINS-REGULAR.TTF');
}
@font-face {
  font-family: 'poppinsmedium';
  src: url('../fonts/SVN-POPPINSMEDIUM.TTF');
}

@import './variables';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $colorWrite;
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

img {
  @include width(100%);
}

.container {
  max-width: 1179px;
  margin: 0 auto;
}

html {
  font-family: 'poppins';
}

body {
  background-image: url('../img/bg-main.png');
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: $heightHeader;
  color: $colorWrite;
  font-size: 16px;
  @include bgc($bgcMain);
  transition: all 0.5s linear;

  .menu-mobile {
    @include minWidth(992px) {
      display: none;
    }
    @include maxWidth(992px) {
      margin: 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $heightHeader;

      .icon-menu {
        font-size: 17px;
      }

      .logo {
        height: 30px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
      }
    }
  }

  .wrapper {
    height: $heightHeader;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $colorBorderBottomHeader;
    position: relative;

    @include toWidth(992px, 1200px) {
      padding: 0 15px;
    }

    .logo-1 {
      height: 30px;
      @include maxWidth(992px) {
        display: none;
      }
    }

    .logo-2 {
      display: none;
    }

    ul {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      margin-right: calc(49px - 39px);

      li {
        margin-right: 37px;

        a {
          font-weight: 500;

          &:hover {
            color: $colorHover;
          }
        }

        @include maxWidth(1080px) {
          margin-right: 20px;
        }
      }
    }

    .number {
      display: flex;
      align-items: center;
      border: 1px solid $colorBorder;
      border-radius: 20px;
      height: 37px;
      padding: 0 26px 0 22px;

      .icon {
        margin-right: 11px;
      }
    }

    @include maxWidth(992px) {
      position: fixed;
      height: 100%;
      width: 40%;
      top: 0;
      left: 0;
      bottom: 0;
      flex-direction: column;
      align-items: flex-start;
      background-color: $colorWrite;
      z-index: 1;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      transform: translateX(-101%);
      transition: all 0.5s linear;

      &.active {
        transform: translateX(0);
      }

      ul {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        li {
          padding: 10px 15px;
          margin-right: 0;

          a {
            color: $bgcMain;
          }

          &:not(:first-child) {
            border-top: 1px solid $colorBorderLine;
          }
        }
      }

      .number {
        margin: 0 0 15px 15px;
        color: $bgcMain;
        border-color: $colorBorder;
      }
    }

    @include maxWidth(576px) {
      width: 70%;
    }
  }

  &.active {
    @include bgc($colorWrite);
    color: $bgcMain;
    .logo-1 {
      display: none;
    }
    .logo-2 {
      display: block;
    }

    .wrapper ul li a {
      color: $bgcMain;
      font-weight: 800;
    }

    .number {
      font-weight: 800;
    }
  }
}

.content {
  margin-top: $heightHeader;

  .banner {
    background: url('../img/bgc-banner.png') no-repeat;
    background-size: 100% 90%;
    @include width(100%, 697px);
    @include maxWidth(992px) {
      @include width(100%);
    }

    .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      @include maxWidth(1179px) {
        margin: 0 15px;
      }

      .info {
        color: $colorWrite;

        .name {
          @include font(33.24px, 'poppinsbold');
        }

        .title {
          margin-top: 20px;
          font-size: 28.32px;
          color: $colorBorder;
        }

        .desc {
          margin-top: 43px;
          font-size: 16px;
          max-width: 368px;
        }

        .social {
          margin-top: 121px;

          .social-block {
            display: flex;

            .item {
              margin: 20px 10px 0 0;
              @include width(37px);
            }
          }
        }
      }

      .avt {
        margin-top: 67px;
        position: relative;

        .avt-img {
          @include width(494px);
          border-radius: $borderRadiusCircle;
          overflow: hidden;
          box-shadow: 0 0 10px rgba(225, 225, 225, 0.9);

          @include maxWidth(578px) {
            @include width(290px);
          }

          img {
            object-fit: none;
            width: auto;
            height: auto;
            transform: translateX(-20%);

            @include maxWidth(578px) {
              @include width(100%);
              transform: translateX(0);
              object-fit: cover;
            }
          }
        }

        .maxim {
          position: absolute;
          left: -230px;
          bottom: 0;
          @include width(295px);
          @include bgc($colorMaxim);
          color: $colorWrite;
          border-radius: $borderRadiusCircle;
          padding: 38px 45px 0;

          .icon {
            margin: 0 auto 22px;
            @include width(67px, 50px);
          }

          .text {
            @include font(19px, 'Times New Roman');
          }

          @include maxWidth(992px) {
            display: none;
          }
        }
      }

      @include maxWidth(992px) {
        flex-direction: column-reverse;

        .info {
          margin-top: 30px;
          text-align: center;

          .name {
            font-size: 28px;
          }

          .title {
            margin-top: 10px;
            font-size: 22px;
          }

          .desc {
            margin-top: 20px;
            font-size: 14px;
          }

          .social {
            margin-top: 60px;

            .social-block {
              justify-content: center;
            }
          }
        }
      }
    }

    .question {
      color: $colorWrite;
      @include font(29.18px, 'poppinsbold');
      text-align: center;
      margin-top: 100px;

      @include maxWidth(992px) {
        font-size: 24px;
      }

      @include maxWidth(578px) {
        font-size: 20px;
      }
    }
  }

  .info-author {
    margin: 52px 0;
    .wrapper {
      display: flex;
      color: $colorWrite;
      @include maxWidth(992px) {
        margin: 0 15px;
      }

      @include toWidth(992px, 1200px) {
        margin: 0 15px;
      }

      .info-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: linear-gradient(#13255d, #091333);
        border-radius: $borderRadius;
        padding: 40px 30px;
        height: 323px;

        &:not(:last-child) {
          margin-right: 33px;
        }

        .logo {
          @include width(57px);

          img {
            color: red;
          }
        }

        .title {
          font-size: 20px;
          font-family: 'poppinsbold';
        }

        .desc {
          font-size: 15px;
          font-family: 'poppins';
          margin-top: 14px;
        }

        .show-details a {
          font-size: 15px;
          font-family: 'poppins';
          color: $colorHover;
        }
      }

      @include maxWidth(992px) {
        margin: 0 15px;
        flex-direction: column;

        .info-item {
          &:not(:first-child) {
            margin-top: 15px;
          }

          &:not(:last-child) {
            margin-right: 0;
          }

          .title {
            margin-top: 20px;
          }
          .show-details {
            margin-top: 10px;
          }
        }
      }
    }
  }

  .share-me {
    background: url('../img/bg-share-me.png');
    background-size: 100% 100%;
    padding: 46px 15px;
    position: relative;
    z-index: -1;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.9;
      z-index: -3;
      background-image: linear-gradient(#080e2e, rgba(0, 0, 0, 0.3), #080e2e);
    }

    .wrapper {
      display: grid;
      grid-template-columns: repeat(2, calc(50% - 10px));
      gap: 20px;
      position: relative;
      z-index: -2;
      color: $colorWrite;
      @include maxWidth(992px) {
        grid-template-columns: auto;
      }

      .block-avt {
        background: url('../img/bgc-avt.png') no-repeat;
        @include width(496px);
        border-radius: $borderRadiusCircle;
        border: 3px solid $colorBorder;
        position: relative;
        margin: 0 auto;

        .avt {
          width: 308px;
          position: absolute;
          right: 0;
          top: -5px;
        }

        .text {
          position: absolute;
          top: 33px;
          left: 37px;
          width: 175px;

          .icon-maxim {
            @include width(69px);
            margin-bottom: 25px;
          }

          .desc {
            @include font(20px, 'poppinsbold');
            padding-bottom: 20px;
            padding-left: 5px;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 29px;
              height: 2px;
              @include bgc($colorBorder);
              @include maxWidth(992px) {
                width: 60px;
              }
            }
          }

          .info {
            margin-top: 17px;
            padding-left: 5px;

            .name {
              @include font(17.12px, 'poppinsbold');
              color: $colorBorder;
            }

            .title {
              margin-top: 8px;
              @include font(14.58px, 'poppins');
            }
          }
        }

        @include maxWidth(578px) {
          @include width(300px);

          .avt {
            width: 187px;
          }

          .text {
            left: 0;
            width: 140px;
            padding: 5px 0 0 15px;

            .icon-maxim {
              @include width(40px);
              margin-bottom: 10px;
            }

            .desc {
              @include font(13px, 'poppinsbold');
              padding-bottom: 10px;

              &::after {
                margin-left: 5px;
              }
            }

            .info {
              margin-top: 10px;

              .name {
                @include font(13px, 'poppinsbold');
              }

              .title {
                margin-top: 4px;
                @include font(9px, 'poppins');
              }
            }
          }
        }
      }

      .share-content {
        h3 {
          @include font(29px, 'poppinsbold');
          margin-bottom: 39px;
        }
        .item {
          display: grid;
          grid-template-columns: 81px auto;

          .icon {
            @include width(59px);
          }

          .title {
            @include font(22px, 'poppinsbold');
            color: $colorBorder;
            margin-bottom: 11px;
          }

          .desc p:first-child {
            margin-bottom: 22px;
          }

          &:not(:first-child) {
            margin-top: 34px;
          }
        }
      }
    }
  }

  .blog {
    color: $colorWrite;
    padding: 27px 0 50px;

    .wrapper {
      margin: 0 15px;
      @include minWidth(1200px) {
        margin: 0;
      }

      & > .title {
        text-align: center;
        margin-bottom: 42px;
        h2 {
          @include font(29px, 'poppinsbold');
          margin-bottom: 21px;
        }

        .text {
          @include font(16px, 'poppins');
        }
      }

      .slider {
        .item {
          overflow: hidden;
          @include bgc($colorItemSlide);
          height: 424px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

          @include maxWidth(600px) {
            height: auto;
          }

          .item-block {
            padding: 37px 20px 35px 20px;
            @include font(15px, 'poppins');

            .title {
              @include font(17px, 'poppinsbold');
              margin-bottom: 18px;
              height: 42px;
              overflow-y: hidden;
            }

            .desc {
              margin-bottom: 30px;
              height: 41px;
              overflow-y: hidden;
            }

            .show-details a {
              color: $colorBorder;
            }
          }
        }

        .owl-nav.disabled + .owl-dots {
          margin-top: 34px;

          .owl-dot span {
            @include width(9px);
            background-color: $bgcMain;
            border: 3px solid $colorBorder;
          }

          .owl-dot.active span,
          .owl-dot:hover span {
            @include bgc($colorBorder);
          }
        }
      }

      .owl-carousel {
        z-index: 0;
      }
    }
  }

  .media {
    padding: 54px 15px 75px;
    color: $colorWrite;
    @include bgc($bgcMedia);
    .wrapper {
      & > .title {
        display: flex;
        align-items: center;
        padding-bottom: 36px;

        h2 {
          @include font(29.18px, 'poppinsbold');
        }

        .icon-next {
          display: flex;
          position: relative;
          width: 33px;
          margin: 0 28px 0 24px;
          .icon1 {
            @include width(22px, 23px);
          }

          .icon2 {
            position: absolute;
            left: 15px;
            opacity: 0.7;
            @include width(18px, 23px);
          }
        }

        .text {
          @include font(20px, 'poppinsbold');
          margin-right: 39px;

          &.active {
            color: $colorBorder;
          }
        }

        @include maxWidth(578px) {
          h2 {
            font-size: 20px;
          }

          .icon-next {
            margin: 0 20px;
            .icon1 {
              @include width(16px, 17px);
            }

            .icon2 {
              @include width(14px, 17px);
            }
          }

          .text {
            font-size: 16px;
            margin-right: 20px;
          }

          .text:last-child {
            margin-right: 0;
          }
        }
      }

      .video {
        display: grid;
        grid-template-columns: calc(60% - 16px) 40%;
        gap: 16px;

        .video-main {
          iframe {
            @include width(100%);
          }
        }

        .video-lists {
          li {
            a {
              display: grid;
              grid-template-columns: 212px calc(100% - 212px - 22px);
              gap: 22px;

              .img {
                @include width(auto, 120px);
              }

              .title {
                font-size: 15px;
              }

              @include maxWidth(578px) {
                grid-template-columns: 160px calc(100% - 160px - 12px);
                gap: 12px;
              }
            }

            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }

        @include maxWidth(992px) {
          grid-template-columns: auto;
          gap: 0;

          .video-main {
            min-height: 387px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .news-intro {
    background: url('../img/bg-map.png') no-repeat bottom,
      url('../img/bgc-news.png') no-repeat top;
    background-size: 80% 50%, 100% 110%;

    .news {
      height: 630px;
      color: $colorWrite;
      clear: both;

      h2 {
        @include font(29.18px, 'poppinsbold');
        margin: 64px 0 46px;
        text-align: center;
      }

      .main {
        display: flex;
        flex-direction: column;

        .slider-nav {
          width: 550px;
          margin: 0 auto;
          position: relative;

          .slick-prev,
          .slick-next {
            @include width(30px);
          }

          .slick-prev {
            left: -30px;
          }

          .slick-next {
            right: -30px;
          }

          .slick-prev:before,
          .slick-next:before {
            color: $colorBtn2;
          }

          .slick-slide {
            .item {
              height: 76px;
              margin: 0 6px;
              @include bgc($colorWrite);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: $borderRadius;

              img {
                @include width(103px, 28px);
              }
            }

            &.slick-current.slick-active.slick-center {
              .item {
                border: 2px solid $colorBorder;
              }
            }
          }

          @include maxWidth(768px) {
            width: 320px;
          }

          @include maxWidth(568px) {
            width: 220px;
          }
        }

        .slider-for {
          height: 100%;
          padding: 0 70px;

          @include maxWidth(992px) {
            padding: 0 15px;
          }

          .item {
            position: relative;
            display: grid;
            grid-template-columns: calc(50% - 57px) 50%;
            gap: 57px;
            @include width(100%, 100%);
            padding: 57px 47px 61px 36px;
            margin-top: 22px;
            @include bgc($colorWrite);
            color: $colorText;
            border-radius: $borderRadius;

            .intro {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              h3 {
                @include font(19px, 'poppinsbold');
                margin-bottom: 22px;
              }

              p {
                font-size: 15px;
                flex: 1;
              }

              .btn-show-news {
                max-width: 144px;
                padding: 11px 13px 13px 17px;
                border-radius: $borderRadius;
                @include bgc($colorBtn2);
                color: $colorWrite;
                cursor: pointer;
                @include font(15px, 'poppinsbold');
                opacity: 1;
                transition: opacity 0.5s linear;

                &:hover {
                  opacity: 0.7;
                }
              }
            }

            &::before {
              content: '';
              position: absolute;
              top: -12px;
              left: 50%;
              transform: translateX(-50%);
              width: 29px;
              height: 13px;
              clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
              @include bgc($colorWrite);
            }

            @include maxWidth(992px) {
              grid-template-columns: calc(60% - 30px) 40%;
              gap: 30px;

              .intro {
                h3 {
                  margin-bottom: 10px;
                }
                p {
                  margin-bottom: 10px;
                }
              }
            }

            @include maxWidth(768px) {
              grid-template-columns: 100%;
              gap: 0;
              padding: 20px;

              .intro {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }

    .intro {
      .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin: 0 15px;
        color: $colorWrite;
        padding: 71px 0;
        @include maxWidth(768px) {
          margin-top: 190px;
        }

        @include maxWidth(668px) {
          margin-top: 150px;
        }

        @include maxWidth(500px) {
          margin-top: 100px;
        }

        .img {
          @include width(330px);
          margin: auto;

          @include maxWidth(850px) {
            @include width(230px);
          }
        }

        .intro-text {
          margin: auto;

          .block {
            .text {
              font-size: 19px;
              margin-bottom: 8px;
            }

            h1 {
              text-transform: uppercase;
              @include font(29.18px, 'poppinsbold');
              margin-bottom: 28px;
            }

            p {
              font-size: 15px;
              margin-bottom: 42px;
            }

            .btn {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              @include font(15px, 'poppinsbold');

              .btn-item {
                height: $heightBtn;
                line-height: $heightBtn;
                padding: 0 23px 0 21px;
                border-radius: $borderRadius;
                transition: opacity 0.5s linear;
                opacity: 1;
                cursor: pointer;

                &.show-details {
                  @include bgc($colorWrite);
                  color: $colorBtn;
                  margin-right: 10px;

                  &:hover {
                    opacity: 0.7;
                  }
                }

                &.participate {
                  @include bgc($colorBtn2);
                  color: $colorWrite;

                  &:hover {
                    opacity: 0.7;
                  }
                }
              }

              @include maxWidth(400px) {
                display: block;
                .btn-item {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  .icon {
                    margin-left: 10px;
                  }

                  &.show-details {
                    margin-right: 0;
                    margin-bottom: 15px;
                  }
                }
              }
            }
          }
        }

        @include maxWidth(768px) {
          grid-template-columns: auto;
          .img {
            display: none;
          }
        }
      }
    }
  }
}

.footer {
  @include bgc($bgcFooter);

  .wrapper {
    display: grid;
    grid-template-columns: 30% calc(70% - 54px);
    gap: 54px;
    margin: 0 15px;
    color: $colorWrite;
    padding: 65px 0 58px;

    .footer-social {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #2f384f;

      .address-web {
        background: url('../img/bgc-search.png') no-repeat;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        @include width(260px, 48px);
        padding-bottom: 17px;
        margin-bottom: 18px;

        .icon {
          @include width(18px);
          margin: 0 16px 0 10px;
        }
      }

      .social {
        .text {
          font-size: 15px;
          text-align: center;
          margin-bottom: 15px;
        }
        .social-block {
          display: flex;
          justify-content: center;
          gap: 11px;

          .item {
            @include width(37px);
          }
        }
      }
    }

    .footer-info {
      display: grid;
      grid-template-columns: repeat(4, 25%);

      .item {
        h2 {
          @include font(17px, 'poppinsbold');
          margin-bottom: 20px;
        }

        a {
          font-size: 15px;
          margin-bottom: 12px;
        }
      }
    }

    @include maxWidth(992px) {
      grid-template-columns: auto;
      gap: 0;

      .footer-social {
        border: none;
      }

      .footer-info {
        margin-top: 30px;
        .item {
          padding: 10px;
        }
      }
    }

    @include maxWidth(768px) {
      .footer-info {
        grid-template-columns: auto auto;
        text-align: center;
      }
    }

    @include maxWidth(568px) {
      padding-bottom: 30px;

      .footer-info {
        grid-template-columns: auto;
        text-align: center;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s linear;
  @include bgc(rgba(0, 0, 0, 0.5));

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
