@font-face {
  font-family: "poppinsbold";
  src: url("../fonts/SVN-POPPINS-BOLD.TTF");
}
@font-face {
  font-family: "poppins";
  src: url("../fonts/SVN-POPPINS-REGULAR.TTF");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1179px;
  margin: 0 auto;
}

html {
  font-family: "poppins";
}

body {
  background-image: url("../img/bg-main.png");
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 91px;
  color: #fff;
  font-size: 16px;
  background-color: #07173f;
  transition: all 0.5s linear;
}
@media (min-width: 992px) {
  .header .menu-mobile {
    display: none;
  }
}
@media (max-width: 992px) {
  .header .menu-mobile {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 91px;
  }
  .header .menu-mobile .icon-menu {
    font-size: 35px;
  }
  .header .menu-mobile .logo {
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
}
.header .wrapper {
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #063e7f;
  position: relative;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .header .wrapper {
    padding: 0 15px;
  }
}
.header .wrapper .logo-1 {
  height: 30px;
}
@media (max-width: 992px) {
  .header .wrapper .logo-1 {
    display: none;
  }
}
.header .wrapper .logo-2 {
  display: none;
}
.header .wrapper ul {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 10px;
}
.header .wrapper ul li {
  margin-right: 37px;
}
.header .wrapper ul li a {
  font-weight: 500;
}
.header .wrapper ul li a:hover {
  color: #f7ca44;
}
@media (max-width: 1080px) {
  .header .wrapper ul li {
    margin-right: 20px;
  }
}
.header .wrapper .number {
  display: flex;
  align-items: center;
  border: 1px solid #f7cb44;
  color: #fff;
  border-radius: 20px;
  height: 37px;
  padding: 0 26px 0 22px;
}
.header .wrapper .number .icon {
  margin-right: 11px;
}
@media (max-width: 992px) {
  .header .wrapper {
    position: fixed;
    height: 100%;
    width: 40%;
    top: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(-101%);
    transition: all 0.5s linear;
  }
  .header .wrapper.active {
    transform: translateX(0);
  }
  .header .wrapper ul {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .header .wrapper ul li {
    padding: 10px 15px;
    margin-right: 0;
  }
  .header .wrapper ul li a {
    color: #071840;
  }
  .header .wrapper ul li:not(:first-child) {
    border-top: 1px solid #b2b2b2;
  }
  .header .wrapper .number {
    margin: 15px auto;
    color: #071840;
    border-color: #f7cb44;
  }
  .header .wrapper .icon-exit {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #071840;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .header .wrapper {
    width: 70%;
  }
}
@media (min-width: 992px) {
  .header .wrapper .icon-exit {
    display: none;
  }
}
.header.active {
  background-color: #fff;
  color: #071840;
}
.header.active .logo-1 {
  display: none;
}
.header.active .logo-2 {
  display: block;
}
.header.active .wrapper ul li a {
  color: #071840;
  font-weight: 800;
}
.header.active .number {
  font-weight: 800;
  color: #071840;
}

.content {
  margin-top: 91px;
}
.content .banner {
  background: url("../img/bgc-banner1.png") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 697px;
}
@media (max-width: 992px) {
  .content .banner {
    width: 100%;
    height: 100%;
  }
}
.content .banner .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 1179px) {
  .content .banner .wrapper {
    margin: 0 15px;
  }
}
.content .banner .wrapper .info {
  color: #fff;
}
.content .banner .wrapper .info .name {
  font-size: 33.24px;
  font-family: "poppinsbold";
}
.content .banner .wrapper .info .title {
  margin-top: 20px;
  font-size: 28.32px;
  color: #f7cb44;
}
.content .banner .wrapper .info .desc {
  margin-top: 43px;
  font-size: 16px;
  max-width: 368px;
}
.content .banner .wrapper .info .social {
  margin-top: 121px;
}
.content .banner .wrapper .info .social .social-block {
  display: flex;
}
.content .banner .wrapper .info .social .social-block .item {
  margin: 20px 10px 0 0;
  width: 37px;
  height: 37px;
}
.content .banner .wrapper .avt {
  margin-top: 67px;
  position: relative;
}
.content .banner .wrapper .avt .avt-img {
  width: 494px;
  height: 494px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(225, 225, 225, 0.9);
}
@media (max-width: 578px) {
  .content .banner .wrapper .avt .avt-img {
    width: 290px;
    height: 290px;
  }
}
.content .banner .wrapper .avt .avt-img img {
  object-fit: none;
  width: auto;
  height: auto;
  transform: translateX(-20%);
}
@media (max-width: 578px) {
  .content .banner .wrapper .avt .avt-img img {
    width: 100%;
    height: 100%;
    transform: translateX(0);
    object-fit: cover;
  }
}
.content .banner .wrapper .avt .maxim {
  position: absolute;
  left: -230px;
  bottom: 0;
  width: 295px;
  height: 295px;
  background-color: rgba(191, 145, 45, 0.8823529412);
  color: #fff;
  border-radius: 50%;
  padding: 38px 45px 0;
}
.content .banner .wrapper .avt .maxim .icon {
  margin: 0 auto 22px;
  width: 67px;
  height: 50px;
}
.content .banner .wrapper .avt .maxim .text {
  font-size: 19px;
  font-family: "Times New Roman";
}
@media (max-width: 992px) {
  .content .banner .wrapper .avt .maxim {
    display: none;
  }
}
@media (max-width: 992px) {
  .content .banner .wrapper {
    flex-direction: column-reverse;
  }
  .content .banner .wrapper .info {
    margin-top: 30px;
    text-align: center;
  }
  .content .banner .wrapper .info .name {
    font-size: 28px;
  }
  .content .banner .wrapper .info .title {
    margin-top: 10px;
    font-size: 22px;
  }
  .content .banner .wrapper .info .desc {
    margin-top: 20px;
    font-size: 14px;
  }
  .content .banner .wrapper .info .social {
    margin-top: 60px;
  }
  .content .banner .wrapper .info .social .social-block {
    justify-content: center;
  }
}
.content .banner .question {
  color: #fff;
  font-size: 29.18px;
  font-family: "poppinsbold";
  text-align: center;
  margin-top: 100px;
}
@media (max-width: 992px) {
  .content .banner .question {
    font-size: 24px;
  }
}
@media (max-width: 578px) {
  .content .banner .question {
    font-size: 16px;
  }
}
.content .info-author {
  margin: 52px 0;
}
.content .info-author .wrapper {
  display: flex;
  color: #fff;
}
@media (max-width: 992px) {
  .content .info-author .wrapper {
    margin: 0 15px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .content .info-author .wrapper {
    margin: 0 15px;
  }
}
.content .info-author .wrapper .info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(#13255d, #091333);
  border-radius: 5px;
  padding: 40px 30px;
  height: 323px;
}
.content .info-author .wrapper .info-item:not(:last-child) {
  margin-right: 33px;
}
.content .info-author .wrapper .info-item .logo {
  width: 57px;
  height: 57px;
}
.content .info-author .wrapper .info-item .logo img {
  color: red;
}
.content .info-author .wrapper .info-item .title {
  font-size: 20px;
  font-family: "poppinsbold";
  margin-top: 34px;
}
.content .info-author .wrapper .info-item .desc {
  font-size: 15px;
  font-family: "poppins";
  margin-top: 14px;
  height: 80px;
  overflow: hidden;
}
.content .info-author .wrapper .info-item .show-details a {
  font-size: 15px;
  font-family: "poppins";
  color: #f7ca44;
}
@media (max-width: 992px) {
  .content .info-author .wrapper .info-item .block {
    display: grid;
    grid-template-columns: 20% calc(80% - 30px);
    gap: 30px;
  }
  .content .info-author .wrapper .info-item .block .logo {
    margin: 30px auto;
  }
}
@media (max-width: 992px) {
  .content .info-author .wrapper {
    margin: 0 15px;
    flex-direction: column;
  }
  .content .info-author .wrapper .info-item:not(:first-child) {
    margin-top: 15px;
  }
  .content .info-author .wrapper .info-item:not(:last-child) {
    margin-right: 0;
  }
  .content .info-author .wrapper .info-item .title {
    margin-top: 20px;
  }
  .content .info-author .wrapper .info-item .show-details {
    margin-top: 10px;
  }
}
.content .share-me {
  background: url("../img/bg-share-me.png");
  background-size: 100% 100%;
  padding: 46px 15px;
  position: relative;
}
.content .share-me .wrapper {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 10px));
  gap: 20px;
  color: #fff;
}
@media (max-width: 992px) {
  .content .share-me .wrapper {
    grid-template-columns: auto;
  }
}
.content .share-me .wrapper .block-avt {
  background: url("../img/bgc-avt.png") no-repeat;
  width: 496px;
  height: 496px;
  border-radius: 50%;
  border: 3px solid #f7cb44;
  position: relative;
  margin: 0 auto;
}
.content .share-me .wrapper .block-avt .avt {
  width: 308px;
  position: absolute;
  right: 0;
  top: -5px;
}
.content .share-me .wrapper .block-avt .text {
  position: absolute;
  top: 33px;
  left: 37px;
  width: 175px;
}
.content .share-me .wrapper .block-avt .text .icon-maxim {
  width: 69px;
  height: 69px;
  margin-bottom: 25px;
}
.content .share-me .wrapper .block-avt .text .desc {
  font-size: 20px;
  font-family: "poppinsbold";
  padding-bottom: 20px;
  padding-left: 5px;
  position: relative;
}
.content .share-me .wrapper .block-avt .text .desc::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 29px;
  height: 2px;
  background-color: #f7cb44;
}
@media (max-width: 992px) {
  .content .share-me .wrapper .block-avt .text .desc::after {
    width: 60px;
  }
}
.content .share-me .wrapper .block-avt .text .info {
  margin-top: 17px;
  padding-left: 5px;
}
.content .share-me .wrapper .block-avt .text .info .name {
  font-size: 17.12px;
  font-family: "poppinsbold";
  color: #f7cb44;
}
.content .share-me .wrapper .block-avt .text .info .title {
  margin-top: 8px;
  font-size: 14.58px;
  font-family: "poppins";
}
@media (max-width: 578px) {
  .content .share-me .wrapper .block-avt {
    width: 300px;
    height: 300px;
  }
  .content .share-me .wrapper .block-avt .avt {
    width: 187px;
  }
  .content .share-me .wrapper .block-avt .text {
    left: 0;
    width: 140px;
    padding: 5px 0 0 15px;
  }
  .content .share-me .wrapper .block-avt .text .icon-maxim {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  .content .share-me .wrapper .block-avt .text .desc {
    font-size: 13px;
    font-family: "poppinsbold";
    padding-bottom: 10px;
  }
  .content .share-me .wrapper .block-avt .text .desc::after {
    margin-left: 5px;
  }
  .content .share-me .wrapper .block-avt .text .info {
    margin-top: 10px;
  }
  .content .share-me .wrapper .block-avt .text .info .name {
    font-size: 13px;
    font-family: "poppinsbold";
  }
  .content .share-me .wrapper .block-avt .text .info .title {
    margin-top: 4px;
    font-size: 9px;
    font-family: "poppins";
  }
}
.content .share-me .wrapper .share-content h3 {
  font-size: 29px;
  font-family: "poppinsbold";
  margin-bottom: 39px;
}
.content .share-me .wrapper .share-content .item {
  display: grid;
  grid-template-columns: 81px auto;
}
.content .share-me .wrapper .share-content .item .icon {
  width: 59px;
  height: 59px;
}
.content .share-me .wrapper .share-content .item .title {
  font-size: 22px;
  font-family: "poppinsbold";
  color: #f7cb44;
  margin-bottom: 11px;
}
.content .share-me .wrapper .share-content .item .desc p:first-child {
  margin-bottom: 22px;
}
.content .share-me .wrapper .share-content .item:not(:first-child) {
  margin-top: 34px;
}
.content .blog {
  color: #fff;
  padding: 27px 0 50px;
}
.content .blog .wrapper {
  margin: 0 15px;
}
@media (min-width: 1200px) {
  .content .blog .wrapper {
    margin: 0;
  }
}
.content .blog .wrapper > .title {
  text-align: center;
  margin-bottom: 42px;
}
.content .blog .wrapper > .title h2 {
  font-size: 29px;
  font-family: "poppinsbold";
  margin-bottom: 21px;
}
.content .blog .wrapper > .title .text {
  font-size: 16px;
  font-family: "poppins";
}
.content .blog .wrapper .slider {
  height: 424px;
}
@media (max-width: 600px) {
  .content .blog .wrapper .slider {
    height: auto;
  }
}
.content .blog .wrapper .slider .item {
  width: 370px;
  margin: 0 17px;
  overflow: hidden;
  background-color: #10275b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.content .blog .wrapper .slider .item .img {
  width: 100%;
  height: 207px;
}
.content .blog .wrapper .slider .item .item-block {
  padding: 37px 20px 35px 20px;
  font-size: 15px;
  font-family: "poppins";
}
.content .blog .wrapper .slider .item .item-block .title {
  font-size: 17px;
  font-family: "poppinsbold";
  margin-bottom: 18px;
  height: 42px;
  overflow-y: hidden;
}
.content .blog .wrapper .slider .item .item-block .desc {
  margin-bottom: 30px;
  height: 40px;
  overflow-y: hidden;
}
.content .blog .wrapper .slider .item .item-block .show-details a {
  color: #f7cb44;
}
.content .blog .wrapper .slider .slick-dots {
  bottom: -48px;
}
.content .blog .wrapper .slider .slick-dots li button {
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: #071840;
  border: 2px solid #f7cb44;
  border-radius: 50%;
}
.content .blog .wrapper .slider .slick-dots li button::before {
  color: transparent;
}
.content .blog .wrapper .slider .slick-dots li.slick-active button::before {
  width: 8px;
  height: 8px;
  background-color: #f7cb44;
  border-radius: 50%;
  opacity: 1;
}
.content .media {
  padding: 54px 15px 75px;
  color: #fff;
  background-color: #091638;
}
.content .media .wrapper > .title {
  display: flex;
  align-items: center;
  padding-bottom: 36px;
}
.content .media .wrapper > .title h2 {
  font-size: 29.18px;
  font-family: "poppinsbold";
}
.content .media .wrapper > .title .icon-next {
  display: flex;
  position: relative;
  width: 33px;
  margin: 0 28px 0 24px;
}
.content .media .wrapper > .title .icon-next .icon1 {
  width: 22px;
  height: 23px;
}
.content .media .wrapper > .title .icon-next .icon2 {
  position: absolute;
  left: 15px;
  opacity: 0.7;
  width: 18px;
  height: 23px;
}
.content .media .wrapper > .title .text {
  font-size: 20px;
  font-family: "poppinsbold";
  margin-right: 39px;
}
.content .media .wrapper > .title .text.active {
  color: #f7cb44;
}
@media (max-width: 578px) {
  .content .media .wrapper > .title h2 {
    font-size: 20px;
  }
  .content .media .wrapper > .title .icon-next {
    margin: 0 20px;
  }
  .content .media .wrapper > .title .icon-next .icon1 {
    width: 16px;
    height: 17px;
  }
  .content .media .wrapper > .title .icon-next .icon2 {
    width: 14px;
    height: 17px;
  }
  .content .media .wrapper > .title .text {
    font-size: 16px;
    margin-right: 20px;
  }
  .content .media .wrapper > .title .text:last-child {
    margin-right: 0;
  }
}
.content .media .wrapper .video {
  display: grid;
  grid-template-columns: calc(60% - 16px) 40%;
  gap: 16px;
}
.content .media .wrapper .video .video-main iframe {
  width: 100%;
  height: 100%;
}
.content .media .wrapper .video .video-lists li a {
  display: grid;
  grid-template-columns: 212px calc(100% - 212px - 22px);
  gap: 22px;
}
.content .media .wrapper .video .video-lists li a .img {
  width: auto;
  height: 120px;
}
.content .media .wrapper .video .video-lists li a .title {
  font-size: 15px;
}
@media (max-width: 578px) {
  .content .media .wrapper .video .video-lists li a {
    grid-template-columns: 160px calc(100% - 160px - 12px);
    gap: 12px;
  }
}
.content .media .wrapper .video .video-lists li:not(:last-child) {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .content .media .wrapper .video {
    grid-template-columns: auto;
    gap: 0;
  }
  .content .media .wrapper .video .video-main {
    min-height: 387px;
    margin-bottom: 16px;
  }
}
.content .news-intro {
  background: url("../img/bgc-new-intro.png") no-repeat;
  background-size: 100% 100%;
}
.content .news-intro .news {
  height: 630px;
  color: #fff;
  clear: both;
}
.content .news-intro .news h2 {
  font-size: 29.18px;
  font-family: "poppinsbold";
  margin: 64px 0 46px;
  text-align: center;
}
.content .news-intro .news .main {
  display: flex;
  flex-direction: column;
}
.content .news-intro .news .main .slider-nav {
  width: 550px;
  margin: 0 auto;
  position: relative;
}
.content .news-intro .news .main .slider-nav .slick-prev,
.content .news-intro .news .main .slider-nav .slick-next {
  width: 30px;
  height: 30px;
}
.content .news-intro .news .main .slider-nav .slick-prev {
  left: -30px;
}
.content .news-intro .news .main .slider-nav .slick-next {
  right: -30px;
}
.content .news-intro .news .main .slider-nav .slick-prev:before,
.content .news-intro .news .main .slider-nav .slick-next:before {
  color: #e59f26;
}
.content .news-intro .news .main .slider-nav .slick-slide .item {
  height: 76px;
  margin: 0 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.content .news-intro .news .main .slider-nav .slick-slide .item img {
  width: 103px;
  height: 28px;
}
.content .news-intro .news .main .slider-nav .slick-slide.slick-current.slick-active.slick-center .item {
  border: 2px solid #f7cb44;
}
@media (max-width: 768px) {
  .content .news-intro .news .main .slider-nav {
    width: 320px;
  }
}
@media (max-width: 568px) {
  .content .news-intro .news .main .slider-nav {
    width: 220px;
  }
}
.content .news-intro .news .main .slider-for {
  height: 100%;
  padding: 0 70px;
}
@media (max-width: 992px) {
  .content .news-intro .news .main .slider-for {
    padding: 0 15px;
  }
}
.content .news-intro .news .main .slider-for .item {
  position: relative;
  display: grid;
  grid-template-columns: calc(50% - 57px) 50%;
  gap: 57px;
  width: 100%;
  height: 100%;
  padding: 57px 47px 61px 36px;
  margin-top: 22px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}
.content .news-intro .news .main .slider-for .item .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content .news-intro .news .main .slider-for .item .intro h3 {
  font-size: 19px;
  font-family: "poppinsbold";
  margin-bottom: 22px;
}
.content .news-intro .news .main .slider-for .item .intro p {
  font-size: 15px;
  flex: 1;
}
.content .news-intro .news .main .slider-for .item .intro .btn-show-news {
  max-width: 144px;
  padding: 11px 13px 13px 17px;
  border-radius: 5px;
  background-color: #e59f26;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-family: "poppinsbold";
  opacity: 1;
  transition: opacity 0.5s linear;
}
.content .news-intro .news .main .slider-for .item .intro .btn-show-news:hover {
  opacity: 0.7;
}
.content .news-intro .news .main .slider-for .item::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 29px;
  height: 13px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: #fff;
}
@media (max-width: 992px) {
  .content .news-intro .news .main .slider-for .item {
    grid-template-columns: calc(60% - 30px) 40%;
    gap: 30px;
  }
  .content .news-intro .news .main .slider-for .item .intro h3 {
    margin-bottom: 10px;
  }
  .content .news-intro .news .main .slider-for .item .intro p {
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .content .news-intro .news .main .slider-for .item {
    grid-template-columns: 100%;
    gap: 0;
    padding: 20px;
  }
  .content .news-intro .news .main .slider-for .item .intro {
    margin-bottom: 20px;
  }
}
.content .news-intro .intro .wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: 0 15px;
  color: #fff;
  padding: 71px 0;
}
@media (max-width: 768px) {
  .content .news-intro .intro .wrapper {
    margin-top: 190px;
  }
}
@media (max-width: 668px) {
  .content .news-intro .intro .wrapper {
    margin-top: 150px;
  }
}
@media (max-width: 500px) {
  .content .news-intro .intro .wrapper {
    margin-top: 100px;
  }
}
.content .news-intro .intro .wrapper .img {
  width: 330px;
  height: 330px;
  margin: auto;
}
@media (max-width: 850px) {
  .content .news-intro .intro .wrapper .img {
    width: 230px;
    height: 230px;
  }
}
.content .news-intro .intro .wrapper .intro-text {
  margin: auto;
}
.content .news-intro .intro .wrapper .intro-text .block .text {
  font-size: 19px;
  margin-bottom: 8px;
}
.content .news-intro .intro .wrapper .intro-text .block h1 {
  text-transform: uppercase;
  font-size: 29.18px;
  font-family: "poppinsbold";
  margin-bottom: 28px;
}
.content .news-intro .intro .wrapper .intro-text .block p {
  font-size: 15px;
  margin-bottom: 42px;
}
.content .news-intro .intro .wrapper .intro-text .block .btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
  font-family: "poppinsbold";
}
.content .news-intro .intro .wrapper .intro-text .block .btn .btn-item {
  height: 36px;
  line-height: 36px;
  padding: 0 23px 0 21px;
  border-radius: 5px;
  transition: opacity 0.5s linear;
  opacity: 1;
  cursor: pointer;
}
.content .news-intro .intro .wrapper .intro-text .block .btn .btn-item.show-details {
  background-color: #fff;
  color: #333;
  margin-right: 10px;
}
.content .news-intro .intro .wrapper .intro-text .block .btn .btn-item.show-details:hover {
  opacity: 0.7;
}
.content .news-intro .intro .wrapper .intro-text .block .btn .btn-item.participate {
  background-color: #e59f26;
  color: #fff;
}
.content .news-intro .intro .wrapper .intro-text .block .btn .btn-item.participate:hover {
  opacity: 0.7;
}
@media (max-width: 400px) {
  .content .news-intro .intro .wrapper .intro-text .block .btn {
    display: block;
  }
  .content .news-intro .intro .wrapper .intro-text .block .btn .btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .news-intro .intro .wrapper .intro-text .block .btn .btn-item .icon {
    margin-left: 10px;
  }
  .content .news-intro .intro .wrapper .intro-text .block .btn .btn-item.show-details {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .content .news-intro .intro .wrapper {
    grid-template-columns: auto;
  }
  .content .news-intro .intro .wrapper .img {
    display: none;
  }
}

.footer {
  background-color: #0d1f4d;
}
.footer .wrapper {
  display: grid;
  grid-template-columns: 30% calc(70% - 54px);
  gap: 54px;
  margin: 0 15px;
  color: #fff;
  padding: 65px 0 58px;
}
.footer .wrapper .footer-social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #2f384f;
}
.footer .wrapper .footer-social .address-web {
  background: url("../img/bgc-search.png") no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  width: 260px;
  height: 48px;
  padding-bottom: 17px;
  margin-bottom: 18px;
}
.footer .wrapper .footer-social .address-web .icon {
  width: 18px;
  height: 18px;
  margin: 0 16px 0 10px;
}
.footer .wrapper .footer-social .social .text {
  font-size: 15px;
  text-align: center;
  margin-bottom: 15px;
}
.footer .wrapper .footer-social .social .social-block {
  display: flex;
  justify-content: center;
  gap: 11px;
}
.footer .wrapper .footer-social .social .social-block .item {
  width: 37px;
  height: 37px;
}
.footer .wrapper .footer-info {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.footer .wrapper .footer-info .item h2 {
  font-size: 17px;
  font-family: "poppinsbold";
  margin-bottom: 20px;
}
.footer .wrapper .footer-info .item a {
  font-size: 15px;
  margin-bottom: 12px;
}
@media (max-width: 992px) {
  .footer .wrapper {
    grid-template-columns: auto;
    gap: 0;
  }
  .footer .wrapper .footer-social {
    border: none;
  }
  .footer .wrapper .footer-info {
    margin-top: 30px;
  }
  .footer .wrapper .footer-info .item {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .footer .wrapper .footer-info {
    grid-template-columns: auto auto;
    text-align: center;
  }
}
@media (max-width: 568px) {
  .footer .wrapper {
    padding-bottom: 30px;
  }
  .footer .wrapper .footer-info {
    grid-template-columns: auto;
    text-align: center;
  }
}

.action {
  position: fixed;
  bottom: 230px;
  right: 22px;
}
.action .icon {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e32028;
  margin-bottom: 8px;
}
.action .icon.mail {
  background-color: #e59f26;
}
.action .icon.up {
  background-color: #1e3d8c;
}
.action .icon img {
  width: auto;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s linear;
  background-color: rgba(0, 0, 0, 0.5);
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*# sourceMappingURL=style.css.map */
